<div class=tree id=tree-list data-scroll="true">
{#  <h3><a href="{{ url_for('commit', repo=repo.name, rev=rev) }}">{{ rev|shorten_sha1 }}</a>#}
{#<!--     <span>(<a href="{{ url_for('download', repo=repo.name, rev=rev) }}">Download .tar.gz</a>)</span> -->#}
{#  </h3>#}
{#	<div id=tree-toggle onclick="toggler.hideTree();">#}
{#		<div id=tree-toggle-icon>#}
{#			<img src="https://mo-imgs.momodel.cn/icon_ym_shouqi.svg" alt="">#}
{#			<img src="https://mo-imgs.momodel.cn/icon_ym_zhankai.svg" alt="">#}
{#		</div>#}
{#	</div>#}
  <ul>
    {% for name, fullpath in root_tree.dirs %}
    <li><a href="{{ url_for('history', repo=repo.name, rev=rev, path=fullpath) }}" class=dir>{{ name }}</a></li>
    {% endfor %}
    {% for name, fullpath in root_tree.submodules %}
    <li><a href="{{ url_for('submodule', repo=repo.name, rev=rev, path=fullpath) }}" class=submodule>{{ name }}</a></li>
    {% endfor %}
    {% for name, fullpath in root_tree.files %}
    <li><a href="{{ url_for('blob', repo=repo.name, rev=rev, path=fullpath) }}" class={{ name | get_file_type }}>{{ name | file_name_lower }}</a></li>
    {% endfor %}
  </ul>
</div>
